.carousel{
    width: 1000px;
    height: 668px;
    margin: auto;
    font-family: fantasy;
    border: unset;
    
}

@media(max-width: 900px){
    .carousel{
        width: auto;
        height: auto;
    }
}


